<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/tabs/tab3'></ion-back-button>
    </ion-buttons>
    <ion-title>User Name <ion-icon name="checkmark-circle"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer class="ion-padding-top">
  <ion-item>
    <ion-textarea placeholder="Write here..."></ion-textarea>
    <ion-icon slot="end" size='large' name='send'></ion-icon>
  </ion-item>
</ion-footer>